.shine {
      color: #ffffff;
      background: linear-gradient(to right, #ffffff 0, #ffffff 10%, #868686 20%);
      background-position: 0;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 3s infinite linear;
      animation-fill-mode: forwards;
      -webkit-text-size-adjust: none;
      font-weight: 600;
      font-size: 20px;
}
.glowIn span {
      animation: glow-in 0.8s both;
}

@keyframes glow-in {
      from {
            opacity: 0;
      }
      65% {
            opacity: 1;
            text-shadow: 0 0 25px white;
      }
      75% {
            opacity: 1;
      }
      to {
            opacity: 0.7;
      }
}
@-moz-keyframes shine {
      0% {
            background-position: 0;
      }
      90% {
            background-position: 180px;
      }
      100% {
            background-position: 180px;
      }
}
@-webkit-keyframes shine {
      0% {
            background-position: 0;
      }
      90% {
            background-position: 180px;
      }
      100% {
            background-position: 180px;
      }
}
@-o-keyframes shine {
      0% {
            background-position: 0;
      }
      90% {
            background-position: 180px;
      }
      100% {
            background-position: 180px;
      }
}
@keyframes shine {
      0% {
            background-position: 0;
      }
      90% {
            background-position: 180px;
      }
      100% {
            background-position: 180px;
      }
}
