@import "tailwindcss";
@source "../node_modules/streamdown/dist/*.js";

@font-face {
      font-family: Nova;
      src: url(../fonts/primary.ttf);
}

@theme {
      --font-Nova: "Nova";
      --color-box: #ff450099;
      --color-bl: #271814;
}
