@import "tailwindcss";
@font-face {
      font-family: Nova;
      src: url(../fonts/primary.ttf);
}

@theme {
      --font-Nova: "Nova";
      --font-alliance: "Alliance";
      --font-fancy: "Fancy";
      --font-Astralaga: "Astralaga";
      --font-Search: "Search";
}
